[Desktop Entry]
Type=Application
Name=gnome-i3
NoDisplay=true
GenericName=A dynamic tiling window manager
Comment=improved dynamic tiling window manager
Exec=/usr/bin/gnome-i3
X-GNOME-WMName=i3
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
